* {
    margin: 0;
}

html,
body {
  width: 100%;
  background-color: #f8f8f8;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#login {
    margin-top:5%;
    padding-top: 50px

}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #F05F40;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}

#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#login .form-group input:active, .form-group input:focus {
    border: 1px solid #F05F40;
}


/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #F05F40;
}

#btn-login:hover{
    color: #fff;
}

#footer {
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    background-color:#6d6d6d;
    color: white;
    font-size: 12px;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

#signup-p a {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}

#signup-p a:hover,
#signup-p a:focus:hover {
  color: #F05F40;
}

/* navat */


.navbar-nav {
    margin-right: 10px;
}
.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  background-color: #F05F40;
}
.navbar-default .navbar-header .navbar-brand {
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #222222;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > p > a,
.navbar-default .nav > p > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: white;
  text-decoration: none;
}
.navbar-default .nav > p > a:hover,
.navbar-default .nav > p > a:focus:hover {
  color: #222222;
}
.navbar-default .nav > p.active > a,
.navbar-default .nav > p.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > p.active > a:hover,
.navbar-default .nav > p.active > a:focus:hover {
  background-color: transparent;
}